<div class="container">

    <header ng-include="'app/components/navbar/navbar.html'"></header>

    <div class="row">
          <h2>Vereadores de São José dos Campos</h2>
    </div>

    <br />

    <div class="row">
      <div class="[ col-sm-6 col-md-4 ]" ng-repeat="item in politicians | filter: query | orderBy: politicianOrder:direction">
        <div class="[ info-card ]">
          <img style="width: 100%" alt="Photo of {{ ::item.name }}" ng-src="{{ ::item.photo }}" />
          <div class="[ info-card-details ] animate">
            <div class="[ info-card-header ]">
              <h1> {{::item.name}} </h1>
              <h3> {{::item.politicalParty}}</h3>
            </div>
            <div class="[ info-card-detail ]">
              <p class="text-justify">{{::item.info}}</p>
              <p class="text-left">{{::item.legislature}}</p>
              <p class="text-left">{{::item.phone}}</p>
              <p class="text-left">{{::item.lawsCount}} Leis Criadas</p>
              <p class="text-left">{{::item.email}}</p>

              <hr/>
              <p class="text-center">
                <a href="#/politicos/{{::item.name}}/leis"> Ver Leis </a>
              </p>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <ul class="pager">
        <li><a ng-click="previous(_links.prev.href)">Previous</a></li>
        <li><a ng-click="next(_links.next.href)">Next</a></li>
      </ul>
    </div>

</div>
