<div>

    <md-content>
        <header ng-include="'app/components/navbar/navbar.html'"></header>


        <section>

            <div>
                <h1>Politician Directory</h1>
            </div>

            <div class="slide-animate" ng-include src="'views/base/facebook.html'"></div>

            <label>Pesquise: </label>
            <input ng-model="query" placeholder="Procure pelos vereadores" autofocus>

            <div ng-repeat="item in politicians | filter: query | orderBy: politicianOrder:direction">
                <a href="#/politicos/{{politicians.indexOf(item)}}">
                    <img ng-src="{{ item.FOTO }}" class="md-card-image" alt="Photo of {{item.name}}"> {{ item.NOME_URNA_CANDIDATO.toLowerCase() }}
                    </br>
                    {{ item.NOME_PARTIDO }}
                </a>
            </div>

        </section>

        <footer>
            <md-toolbar layout="row" layout-align="center center">
                <p>With ♥ from <a href="https://github.com/transparenciasjc">@TranparênciaSJC</a></p>
            </md-toolbar>
        </footer>
    </md-content>
</div>