<br>
<div class="col-md-12">
  <div class="container" ng-model="laws">

    <header ng-include="'app/components/navbar/navbar.html'"></header>

    <!-- Law title and summary -->
    <div>

      <div class="row">
        <span class="label label-info">{{::law.tipo.nome}}</span>
        <span class="label label-success">{{::law.situacaoSimplificada.nome}}</span>
        <span class="label label-warning"> {{::law.classe.nome}} Sem Classificação</span>
      </div>

      <br>

      <h5>Número do Processo {{ ::law.numeroProcesso }}</h5>
      <h5>Número da Propositura {{ ::law.numeroPropositura }}</h5>

      <br>

      <h3>{{law.ementa}} - Realize o <a href="{{::law.pdfLei}}" target="_blank"> download deste documento </a>.</h3>

      <br>

    </div>

    <!-- Rating Panel -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Vote na Relevância desta lei</h3>
      </div>
      <div class="panel-body">
        <input-stars max="5" ng-model="law.rating" on-star-click="clickRating(law.rating)"></input-stars>
        Quantidade de votos: {{law.ratingCount || 0}}
      </div>
    </div>

    <br />

  </div>
</div>
