<header ng-include="'app/components/navbar/navbar.html'"></header>

<br>

<div class="container backgroundBlue" ng-model="politicians">

    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    <img ng-src="{{politicians.foto}}" alt="Photo of {{politicians.nome}}" class="img-responsive" alt="">
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        {{politicians.nome}}
                    </div>

                    <p>
                      <small>{{::politicians.legislatura}}</small>
                    </p>

                    <div class="profile-usertitle-job text-justifty">
                        {{politicians.info}}
                    </div>
                    <div class="profile-usertitle-job">
                        {{politicians.partidoPolitico.nome}} - {{politicians.partidoPolitico.sigla}}
                    </div>

                    <div class="profile-usertitle-job">
                        Quantidade de projetos propostos: {{politicians.quantidadeDeLeis}}
                    </div>
                </div>

                <div class="profile-userbuttons">
                  <div class="fb-share-button" data-href="http://leis.sjcdigital.com/#/politicos/{{politicians.id}}" data-layout="button_count" data-size="small" data-mobile-iframe="true">
                    <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%3A3000%2F%23%2Fleis%2F32&amp;src=sdkpreparse">
                      Compartilhar
                    </a>

                    <a href="https://twitter.com/share" class="twitter-share-button"
                      data-via="MonitorLegSJC" data-size="small" data-hashtags="monitorLegislativoSJC" data-text="Veja o perfil do(a) Vereador(a) {{politicians.nome}} - {{politicians.partidoPolitico.sigla}} de São José dos Campos">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

                  </div>
                </div>
            </div>
        </div>

        <!-- Lado Direito -->
        <div class="col-md-9">
          <div class="profile-content">

            <uib-tabset active="active">
              <uib-tab index="0" heading="Gráficos">

                <br>

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">Por Tipo</div>
                            <div class="panel-body">
                                <div id="{{tipoChart.nomeChart}}">Placeholder for chart</div>
                            </div>
                        </div>
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">Por Situação</div>
                            <div class="panel-body">
                                <div id="{{situacaoChart.nomeChart}}">Placeholder for chart</div>
                            </div>
                        </div>
                    </div>
                </div>

                <br>

                <br>

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">Por Classificação</div>
                            <div class="panel-body">
                                <div id="{{classificacao.nomeChart}}">Placeholder for chart</div>
                            </div>
                        </div>
                    </div>
                </div>

              </uib-tab>

              <uib-tab index="1" heading="Projetos">

                <br>

                <form name="mainForm" class="form-horizontal" ng-submit="filtrar()">

                    <div class="form-group">
                      <label for="_tipo" class="col-sm-2 control-label">Tipo</label>
                      <div class="col-sm-10">
                          <select id="_tipo" class="form-control input-sm" ng-model="filtro.tipo" ng-options="tipo.nome for tipo in tipos track by tipo.id"></select>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="_clase" class="col-sm-2 control-label">Classificação</label>
                      <div class="col-sm-10">
                          <select id="_tipo" class="form-control input-sm" ng-model="filtro.classe" ng-options="classe.nome for classe in classes track by classe.id"></select>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="_situacao" class="col-sm-2 control-label">Situação</label>
                      <div class="col-sm-10">
                          <select id="_situacao" class="form-control input-sm" ng-model="filtro.situacao" ng-options="situacao.nome for situacao in situacoes track by situacao.id"></select>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="_ano" class="col-sm-2 control-label">Ano</label>
                      <div class="col-sm-10">
                          <select id="_ano" class="form-control input-sm" ng-model="filtro.ano" ng-options="a.ano for a in anos.anos"></select>
                      </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success" ng-disabled="mainForm.$invalid">
                                Buscar
                            </button>

                            <button ng-click="limpar()" class="btn btn-warning" ng-disabled="mainForm.$invalid">
                                Limpar
                            </button>

                        </div>

                    </div>

                  </form>

                <div class="row">
                  <div class="col-12 col-sm-6 col-lg-6" ng-repeat="item in laws | filter: query | orderBy: lawOrder:direction">

                    <a class="thumbnail" href="#/leis/{{::item.id}}" tooltip-placement="top" uib-tooltip="{{::item.numeroProcesso}}" tooltip-trigger="'mouseenter'">
                      <div class="caption">

                          <span class="label label-info">{{::item.tipo.nome}}</span>
                          <span class="label label-success">{{::item.situacaoSimplificada.nome}}</span>
                          <span class="label label-warning"> {{::item.classe.nome || 'Sem Classificação'}}</span>

                          <h3 style="text-transform:capitalize;">{{ ::item.numeroProcesso }}</h3>
                          <h6 class="text-justify">
                            {{ ::item.ementa | limitTo: 97}} ...
                          </h6>
                      </div>

                    </a>

                  </div>
                </div>

                <div class="row">
                  <div class="i-am-centered">
                    <ul uib-pagination last-text="Último" next-text='Próximo' first-text='Primeiro' previous-text='Anterior'
                                       total-items="totalItens"
                                       items-per-page='totalPorPg'
                                       ng-model="pgAtual"
                                       max-size="10" class="pagination-sm" boundary-links="true" ng-change="pageChanged(pgAtual)"></ul>
                  </div>

                </div>
              </uib-tab>

            </uib-tabset>

          </div>
        </div>
        <!-- Fim Lado Direito -->
    </div>
</div>
