<header ng-include="'app/components/navbar/navbar.html'"></header>

<br>

<div class="container backgroundBlue" ng-model="politicians">

    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    <img ng-src="{{politicians.foto}}" alt="Photo of {{politicians.nome}}" class="img-responsive" alt="">
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        {{politicians.nome}}
                    </div>

                    <p>
                      <small>{{::politicians.legislatura}}</small>
                    </p>

                    <div class="profile-usertitle-job text-justifty">
                        {{politicians.info}}
                    </div>
                    <div class="profile-usertitle-job">
                        {{politicians.partidoPolitico.nome}} - {{politicians.partidoPolitico.sigla}}
                    </div>

                    <div class="profile-usertitle-job">
                        Quantidade de projetos propostos: {{politicians.quantidadeDeLeis}}
                    </div>
                </div>

                <div class="profile-userbuttons">
                    <button type="button" class="btn btn-success">Seguir</button>
                    <button type="button" class="btn btn-danger btn-sm" disabled>Mensagem</button>
                </div>
            </div>
        </div>

        <!-- Lado Direito -->
        <div class="col-md-9">
          <div class="profile-content">

            <uib-accordion close-others="oneAtATime">

              <div uib-accordion-group class="panel-default" heading="Gráficos" is-open="false" is-disabled="false">


                  <div class="row">
                      <div class="col-md-12">
                          <div class="panel panel-default">
                              <div class="panel-heading">Por Tipo</div>
                              <div class="panel-body">
                                  <nvd3 options="options" data="lawTypeData"></nvd3>
                              </div>
                          </div>
                      </div>
                  </div>

                  <br>

                  <div class="row">
                      <div class="col-md-12">
                          <div class="panel panel-default">
                              <div class="panel-heading">Por Situação</div>
                              <div class="panel-body">
                                  <nvd3 options="options" data="lawSituationData"></nvd3>
                              </div>
                          </div>
                      </div>
                  </div>

                  <br>

                  <div class="row">
                      <div class="col-md-12">
                          <div class="panel panel-default">
                              <div class="panel-heading">Por Classificação</div>
                              <div class="panel-body">
                                  <nvd3 options="options" data="lawClassData"></nvd3>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <!-- fim div de graficos -->

              <div uib-accordion-group class="panel-default" heading="Projetos Propostos" is-open="false" is-disabled="false">

                <div id="timeline">
                  <div class="col-12 col-sm-6 col-lg-6" ng-repeat="item in laws | filter: query | orderBy: lawOrder:direction">

                    <a class="thumbnail" href="#/leis/{{::item.id}}" tooltip-placement="top" uib-tooltip="{{::item.numeroProcesso}}" tooltip-trigger="'mouseenter'">
                      <div class="caption">

                          <span class="label label-info">{{::item.tipo.nome}}</span>
                          <span class="label label-success">{{::item.situacaoSimplificada.nome}}</span>
                          <span class="label label-warning"> {{::item.classe.nome}} Sem Classificação</span>

                          <h3 style="text-transform:capitalize;">{{ ::item.numeroProcesso }}</h3>
                          <h6 class="text-justify">
                            {{ ::item.ementa | limitTo: 97}} ...
                          </h6>
                      </div>

                    </a>

                  </div>
                </div>

                <div class="row">
                  <ul class="pager">
                    <li><a ng-click="previous()">Previous</a></li>
                    <li><a ng-click="next()">Next</a></li>
                  </ul>
                </div>

              </div>

            </uib-accordion>

          </div>
        </div>
        <!-- Fim Lado Direito -->

    </div>
</div>
