<div>

    <md-content>
        <header ng-include="'app/components/navbar/navbar.html'"></header>


        <section>
            <div>
                <h1>Listagem de leis</h1>
            </div>

            <div class="slide-animate" ng-include src="'views/base/facebook.html'"></div>

            <div>
                <label>Pesquisa: </label>
                <input ng-model="query" placeholder="Procure por leis" autofocus>
            </div>
            </br>

            <div class="row">
                <div class="col-6 col-sm-6 col-lg-4"
                     ng-repeat="item in laws | filter: query | orderBy: lawOrder:direction"
                     style="height: 300px;">
                    <a class="thumbnail" href="/leis/{{laws.indexOf(item)}}">
                        <div class="caption">
                            <h3 style="text-transform:capitalize;">{{ item.lawId }}</h3>

                            <p>{{ item.description }}</p>

                            <p><strong>{{ item.author }}</strong></p>

                            <p><strong>{{ item.date.plain }}</strong></p>
                        </div>
                    </a>
                </div>
            </div>
        </section>


        <footer>
            <md-toolbar layout="row" layout-align="center center">
                <p>With ♥ from <a href="https://github.com/transparenciasjc">@TranparênciaSJC</a></p>
            </md-toolbar>
        </footer>
    </md-content>
</div>
