<div class="col-md-12">

    <div class="container">
        <header ng-include="'app/components/navbar/navbar.html'"></header>

        <div>
            <h2>Listagem de leis</h2>
        </div>

        <div class="well">
            <div class="input-group input-group-lg">
                <span class="input-group-addon" id="sizing-addon1">
                <i class="glyphicon glyphicon-search"></i>
                </span>
                <input ng-model="query" placeholder="Pesquise por leis" autofocus type="text" class="form-control" aria-describedby="sizing-addon1">
            </div>
        </div>

        <div class="row">

          <div class="col-12 col-sm-6 col-lg-6" ng-repeat="item in laws | filter: query | orderBy: lawOrder:direction">

            <a class="thumbnail" href="#/leis/{{::item.code}}"
              tooltip-placement="top" uib-tooltip="teste" tooltip-trigger="'mouseenter'">
              <div class="caption">
                  {{::item.code}}
                  <span class="label label-info">{{::item.type}}</span>

                  <h3 style="text-transform:capitalize;">{{ ::item.title }}</h3>
                  <h5 class="text-justify">
                    {{ ::item.summary | limitTo: 97}} ...
                  </h5>
                  <ul class="list-inline">
                    <li ng-repeat="alderman in item.author">
                      <strong>{{ ::alderman.name }}</strong>
                    </li>
                  </ul>
                  <p><strong>{{ ::item.date }}</strong></p>
              </div>

            </a>

          </div>
        </div>

        <div class="row">
          <ul class="pager">
            <li><a ng-click="previous(_links.prev.href)">Previous</a></li>
            <li><a ng-click="next(_links.next.href)">Next</a></li>
          </ul>
        </div>

    </div>
</div>
