<div class="col-md-12">

    <div class="container">
        <header ng-include="'app/components/navbar/navbar.html'"></header>

        <div>
            <h2>Listagem de leis</h2>
        </div>

        <div class="well">
          <form class="form-horizontal" role="form" name="filtroForm" ng-submit="filtrar()">
            <div class="controls form-inline">
                  <div class="form-group">
                      <label for="_tipo" class="col-sm-2 control-label">Tipo</label>

                      <div class="col-sm-4">
                          <select id="_tipo" class="form-control input-sm" ng-model="filtro.tipo" ng-options="tipo.nome for tipo in tipos track by tipo.id"></select>
                      </div>

                  </div>

                  <div class="form-group">
                      <label for="_situacao" class="col-sm-4 control-label">Situação</label>

                      <div class="col-sm-4">
                          <select id="_situacao" class="form-control input-sm" ng-model="filtro.situacao" ng-options="situacao.nome for situacao in situacoes track by situacao.id"></select>
                      </div>

                  </div>

                  <div class="form-group">
                      <label for="_clase" class="col-sm-4 control-label">Classificação</label>

                      <div class="col-sm-4">
                          <select id="_tipo" class="form-control input-sm" ng-model="filtro.classe" ng-options="classe.nome for classe in classes track by classe.id"></select>
                      </div>

                  </div>

                  <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-5">
                          <button type="submit" class="btn btn-success">
                              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                              Buscar
                          </button>
                      </div>
                  </div>
              </div>
          </form>
        </div>

        <div class="row">

          <div class="col-12 col-sm-6 col-lg-6" ng-repeat="item in laws | filter: query | orderBy: lawOrder:direction">

            <a class="thumbnail" href="#/leis/{{::item.id}}"
              tooltip-placement="top" uib-tooltip="{{::item.numeroProcesso}}" tooltip-trigger="'mouseenter'">
              <div class="caption">

                <span class="label label-info">{{::item.tipo.nome}}</span>
                <span class="label label-success">{{::item.situacaoSimplificada.nome}}</span>
                <span class="label label-warning"> {{::item.classe.nome || 'Sem Classificação'}} </span>

                  <h3 style="text-transform:capitalize;">{{ ::item.numeroProcesso }}</h3>
                  <h5 class="text-justify">
                    {{ ::item.ementa | limitTo: 97}} ...
                  </h5>
                  <h5>
                    {{::item.autor.nome}}
                  </h5>
              </div>

            </a>

          </div>
        </div>

        <div class="row">
          <ul class="pager">
            <li><a ng-click="previous(_links.prev.href)">Previous</a></li>
            <li><a ng-click="next(_links.next.href)">Next</a></li>
          </ul>
        </div>

    </div>
</div>
